In [1]:
import pandas as pd

In [2]:
universities = ["AU", "AAU", "CBS", "DTU", "ITU", "KU", "RUC", "SDU"]
years = ["08A", "13A", "18", "22-1"]

In [3]:
attempt_one = pd.read_csv("AAU_virk_08A.csv", sep=";", index_col=False)

In [5]:
attempt_one["University"] = "AAU"

,Finanslov,År,I alt omsætning (mio kr),Tilskud i alt UBST,Uddannelsestilskud fra UBST,Heltidsuddannelse,Deltidsuddannelse,Udvekslingsstuderende,Færdiggørelsesbonus,Udvikling,...,Øvrige formål,Grundtilskud,Øvrige tilskud og indtægter i alt,Uddannelsestilskud fra UVM mv,Tilskudsfinansieret forskning,Forskningsbaseret myndighedsbetjening,- heraf forskning,Driftsindtægter,Andre tilskud,University
0,R,2002,1484.3,1049.3,550.7,527.8,19.5,3.4,NaN,NaN,...,86.4,1.3,435.0,19.4,282.7,44.3,40.1,72.7,15.9,AAU
1,R,2003,1467.8,1083.3,541.7,526.1,12.2,3.4,NaN,NaN,...,98.1,1.2,384.5,19.1,234.6,44.3,40.1,75.7,10.8,AAU
2,R,2004,1546.6,1102.4,555.4,526.3,10.8,3.5,14.8,NaN,...,91.8,1.2,444.2,17.9,265.5,44.4,40.2,99.6,16.8,AAU
3,R,2005,1549.2,1103.9,554.7,517.7,10.8,4.3,21.9,NaN,...,76.0,1.2,445.3,20.7,266.8,44.5,40.3,102.8,10.5,AAU
4,R,2006,1555.3,1106.3,560.7,516.8,9.7,4.7,29.5,NaN,...,73.6,1.2,449.0,30.2,251.6,44.9,40.7,100.1,22.2,AAU
5,B,2007,1633.0,1109.9,585.4,538.9,9.7,4.6,32.2,NaN,...,54.4,0.0,523.1,30.2,313.1,44.8,40.6,118.6,16.4,AAU
6,F,2008,1739.8,1219.0,630.3,568.4,7.9,4.4,42.1,7.5,...,83.4,NaN,520.8,29.3,312.0,44.7,40.5,118.4,16.4,AAU
7,BO 1,2009,1774.4,1243.6,649.9,587.1,7.8,4.3,41.5,9.2,...,81.8,NaN,530.8,29.5,318.5,44.7,40.5,121.2,16.9,AAU
8,BO 2,2010,1760.1,1218.9,650.8,598.1,7.7,4.2,40.8,NaN,...,79.6,NaN,541.2,29.5,325.2,44.7,40.5,124.4,17.4,AAU
9,BO 3,2011,1776.0,1234.8,658.4,606.7,7.5,4.1,40.1,NaN,...,78.0,NaN,541.2,29.5,325.2,44.7,40.5,124.4,17.4,AAU